.center{
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Component Styles - Steps */
.steps {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 0 2rem 0;
  list-style: none;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  pointer-events: none;
}
.step__active, .stepcomplete {
  cursor: pointer;
  pointer-events: all;
}
.step:not(:last-child):before, .step:not(:last-child):after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.25rem;
  content: "";
  transform: translateY(-50%);
  will-change: width;
  z-index: 0;
}
.step:before {
  width: 100%;
  background-color: #8c51f3;
}
.step:after {
  width: 0;
  background-color: #ff2267;
}
.stepcomplete:after {
  width: 100% !important;
  opacity: 1;
  transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.step__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #292627;
  border: 0.25rem solid #e6e7e8;
  border-radius: 50%;
  color: transparent;
  font-size: 2rem;
}
.step__icon:before {
  display: block;
  color: #fff;
  content: "✓";
}
.stepcomplete.step__active .step__icon {
  color: rgb(252, 7, 7);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.step__incomplete.step__active .step__icon {
  border-color: #ad7eff;
  transition-delay: 0.5s;
}
.stepcomplete .step__icon {
  -webkit-animation: bounce 0.5s ease-in-out;
          animation: bounce 0.5s ease-in-out;
  background-color: #ff2267;
  border-color: #ff2267;
  color: #fff;
}

.step__label {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  margin-top: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  transform: translateX(-50%);
}
.step__incomplete.step--inactive .step__label {
  color: #e6e7e8;
}
.step__incomplete.step__active .step__label {
  color: #5c00ff;
  font-weight: 600;
}
.step__active .step__label {
  transition: color 0.3s ease-in-out;
  transition-delay: 0.5s;
}